.errorMainDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(63, 63, 254);
    color: aliceblue;
    width: 100%;
    border: 2px solid black;
}

.errorMainDiv h1{
    font-weight: bolder;
    font-size: 10rem;
}

.errorMainDiv p{
    font-weight: bolder;
    font-size: 2rem;
}
.errorMainDiv button{
    font-weight: bolder;
   border: 1px solid white;
   border-radius: 12px;
   padding: 5px;
   padding-left: 15px;
   padding-right: 15px;
   color:rgb(63, 63, 254) ;
   font-weight: bolder;
   font-size: 1rem;
   cursor: pointer;
}