.mainDiv{
    display: flex;
    width: 90%;
    height: 40rem;
    margin-top: 6rem;
    margin-bottom: 1rem;
    margin-left: 5%;
    padding: 1rem;
    background-image: url('../images//MoneyMarket.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* border: 2px solid green; */
    justify-content: center;
    align-items: center;
box-shadow: 0px 0px 10px rgba(48, 71, 248, 0.405);
}

.subdiv{
    width: 60%;
    /* margin: auto; */
   
    padding: 1rem;
    /* background-color: rgba(24, 206, 106, 0.656); */
    /* border: 2px solid green; */

}
.subdiv1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 25rem;
    /* margin: auto; */
    
    padding: 1rem;
    /* background-color: rgba(24, 206, 106, 0.656); */
    /* border: 2px solid green; */

}